body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

#sobre-mi {
    background: #ffffff; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.card {
    flex: 1 1 200px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    background: #ffffff; 
}

.card img {
    max-width: 100%;
    height: auto;
    padding-top: 10px;
    border-bottom: 1px solid #ddd; 
}

.card-content {
    padding: 15px;
    background: #727272; 
    border-radius: 8px;
}

.card-content h2 {
    margin-top: 0;
    color: #000000; 
}

.card-content p {
    color: #ffffff;
}

#tecnologias-favoritas {
    background: #ffffff; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;
}

#actividades-favoritas {
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

input, textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s; 
}

input:focus, textarea:focus {
    border-color: #007BFF;
    outline: none;
}

button {
    padding: 12px;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

img {
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}

img:hover {
    filter: grayscale(0%);
}

#actividades-list {
    margin-top: 20px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    background-color: #333;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}

input:hover {
background-color: #c3cfe2;
transition: background-color 0.3s;
}

.tecnologias {
    
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
}
